@media screen and (max-width: 767px) {
  .header-logo {
    background-color: blue;
  }
}

@media screen and (max-width: 767px) {
  .top-text {
    color: red;
  }
}

@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
