@charset "UTF-8";
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

/*========================================
       # header
========================================*/
/*========================================
         # 全体共通部分
  ========================================*/
body {
  font-size: 16px;
  color: #333333;
  font-family: "ヒラギノ明朝 ProN", serif;
  line-height: 1.6875;
}

img {
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

.section {
  margin-top: 160px;
}

@media screen and (max-width: 767px) {
  .section {
    margin-top: 96px;
  }
}

.section-title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 30px;
  }
}

.section-title::after {
  content: "";
  display: block;
  margin: 16px auto 0;
  background: #3EA1D1;
  height: 2px;
  width: 60px;
}

.util-link {
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #3EA1D1;
  font-weight: 600;
  border: 1px solid #3EA1D1;
  display: inline-block;
  padding: 10px 54px;
}

/*========================================
       # header
========================================*/
.header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header-inner {
    height: 60px;
  }
}

.header-nav {
  margin-left: auto;
}

.header-logo {
  width: 120px;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav-item {
  margin-left: 46px;
}

.header-nav-item:first-child {
  margin-left: 0;
}

.header-nav-item-link {
  display: block;
  color: #333333;
  height: 70px;
  line-height: 70px;
  letter-spacing: 0.1;
}

.main {
  padding-top: 70px;
}

@media screen and (max-width: 767px) {
  .main {
    padding-top: 60px;
  }
}

/*========================================
        # top
========================================*/
.top {
  position: relative;
}

@media screen and (min-width: 768px) {
  .top-picture {
    padding-top: 55%;
    background: url(/img/top.png) no-repeat top right/82.5%;
  }
}

@media screen and (max-width: 767px) {
  .top-picture {
    padding-top: 120%;
    background: url(/img/sp/top-sp.png) no-repeat center/cover;
  }
}

.top-title {
  font-size: 26px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .top-title {
    margin-top: 40px;
  }
}

.top-text {
  margin-top: 18px;
}

@media screen and (min-width: 768px) {
  .top-message {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: #fff;
    padding: 92px 40px 92px 0;
  }
}

/*========================================
       # concept
========================================*/
@media screen and (min-width: 768px) {
  .concept-inner {
    margin-top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .concept-inner {
    margin-top: 48px;
  }
}

.concept-picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media screen and (max-width: 767px) {
  .concept-picture {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .concept-message {
    margin-left: 6.667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media screen and (max-width: 767px) {
  .concept-message {
    margin-left: 0;
    margin-top: 40px;
  }
}

.concept-message-title {
  font-weight: bold;
  font-size: 20px;
}

.concept-message-text {
  margin-top: 48px;
}

@media screen and (max-width: 767px) {
  .concept-message-text {
    margin-top: 32px;
  }
}

/*========================================
       # feature
========================================*/
@media screen and (min-width: 768px) {
  .feature-list {
    margin-top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .feature-list {
    margin-top: 48px;
  }
}

@media screen and (min-width: 768px) {
  .feature-item {
    width: calc(33.3% - 91px * 2 / 3);
    margin-right: 91px;
  }
  .feature-item:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .feature-item {
    margin-bottom: 48.59px;
  }
  .feature-item:last-child {
    margin-bottom: 0;
  }
}

.feature-item-text {
  text-align: center;
  padding: 32px 0;
  -webkit-box-shadow: 3px 3px 15px #60606029;
          box-shadow: 3px 3px 15px #60606029;
  font-weight: bold;
  color: #333333;
}

/*========================================
       # about
========================================*/
.about {
  color: #fff;
  padding: 120px 0;
  position: relative;
  background: url(/img/bg.png) center center/cover;
}

@media screen and (max-width: 767px) {
  .about {
    background: url(/img/sp/bg-sp.png) center center/cover;
    padding: 180px 0 55px;
  }
}

.about::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #000;
  opacity: 0.12;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.about-inner {
  position: relative;
  z-index: 6;
}

.about-inner .about-title {
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .about-inner .about-title {
    font-size: 20px;
    margin-bottom: 32px;
  }
}

.about-inner .about-text {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .about-inner .about-text {
    font-size: 14px;
  }
}

/*========================================
       # products
========================================*/
.products {
  max-width: 940px;
}

@media screen and (max-width: 767px) {
  .products {
    max-width: 260px;
  }
}

.products-list {
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .products-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 27.65%;
            flex: 0 0 27.65%;
  }
}

@media screen and (max-width: 767px) {
  .products-item {
    margin-bottom: 48px;
  }
}

.products-item-link {
  display: block;
  color: #333333;
  font-size: 14px;
}

.products-item-text {
  padding: 24px 0 16px;
}

.products-item-cost {
  color: #989898;
}

.products-footer {
  text-align: center;
  margin-top: 48px;
}

/*========================================
       # news
========================================*/
.news {
  max-width: 1040px;
}

.news-list {
  margin-bottom: 48px;
}

@media screen and (max-width: 767px) {
  .news-list {
    padding: 0 33px;
  }
}

.news-item {
  padding: 24px 0 22px;
  border-bottom: 1px solid #e0e0e0;
}

.news-item:first-child {
  padding-top: 50px;
}

@media screen and (min-width: 768px) {
  .news-item-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .news-item-header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 260px;
            flex: 0 0 260px;
    margin-right: 40px;
  }
}

.news-item-date {
  font-size: 14px;
  color: #333333;
}

.news-item-title {
  font-size: 18px;
  color: #333333;
  font-weight: bold;
  padding: 10px 0 20px;
}

.news-item-text {
  font-size: 14px;
  color: #888888;
  line-height: 1.7143;
}

.news-footer {
  text-align: center;
}

/*========================================
       # concept2
========================================*/
.concept2 {
  margin-bottom: 225px;
}

@media screen and (max-width: 767px) {
  .concept2 {
    margin-bottom: 96px;
  }
}

@media screen and (min-width: 768px) {
  .concept2-inner {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .concept2-picture {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin-left: 80px;
  }
}

.concept2-message-title {
  font-size: 28px;
  font-weight: bold;
}

.concept2-message-text {
  margin-top: 48px;
}

/*========================================
       # contact
========================================*/
.contact {
  background: url(/img/contact.png) no-repeat center center/cover;
}

@media screen and (max-width: 767px) {
  .contact {
    padding: 0 28px;
  }
}

.contact .section-title {
  color: #3EA1D1;
  padding-top: 72px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: 0;
  font-size: 16px;
  padding: 0.2em 0.5em;
  border-radius: 2px;
  -webkit-box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
}

input[type="text"],
input[type="email"] {
  height: 40px;
}

textarea {
  min-height: 122px;
  resize: vertical;
}

.contact-form {
  margin-top: 64px;
}

.contact-text {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
}

.contact-text span {
  font-size: 16px;
  color: #e7728e;
}

.contact-list {
  max-width: 510px;
  margin: 24px auto 33px;
}

@media screen and (min-width: 768px) {
  .contact-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-item + .contact-item {
  margin-top: 32px;
}

.contact-item-title {
  background: rgba(62, 161, 209, 0.7);
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .contact-item-title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.contact-item-title::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 8px;
  border-color: transparent transparent transparent rgba(62, 161, 209, 0.7);
  top: 0;
  right: -8px;
}

.contact-item-kome {
  color: #e7728e;
  font-size: 12px;
  vertical-align: super;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .contact-item-input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 320px;
            flex: 0 0 320px;
    margin-left: 18px;
  }
}

.contact-radio-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: solid 1px #fff;
  border-radius: 1px;
  -webkit-box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.16);
}

.contact-radio {
  position: relative;
}

.contact-radio-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-radio-input:checked + .contact-radio-part {
  color: #fff;
  background-color: #3EA1D1;
  border-radius: 1px;
}

.contact-radio-input:focus + .contact-radio-part {
  outline: -webkit-focus-ring-color auto 5px;
}

.contact-radio-part {
  display: block;
  background: #fff;
  height: 38px;
  line-height: 38px;
  color: #3EA1D1;
  width: 80px;
  text-align: center;
}

.contact-footer {
  text-align: center;
  padding-bottom: 85px;
}

.contact-privacy {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
}

.contact-privacy-part {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #3EA1D1;
  background-color: #fff;
  vertical-align: middle;
}

.contact-privacy-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-privacy-input:checked + .contact-privacy-part {
  width: 10px;
  height: 18px;
  border-top: 0;
  border-left: 0;
  background-color: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: 7px;
}

.contact-privacy-input:focus + .contact-privacy-part {
  outline: -webkit-focus-ring-color auto 5px;
}

.contact-privacy-input:checked:focus + .contact-privacy-part {
  outline: none;
}

.contact-privacy-link {
  color: #3EA1D1;
  text-decoration: underline;
}

.contact-footer-submit {
  margin-top: 51px;
}

/*========================================
       # footer
========================================*/
.footer {
  background: #f7f7f7;
  padding: 42px 40px 12px;
}

.footer-logo {
  width: 120px;
  margin: 0 auto;
  padding-bottom: 18px;
}

@media screen and (max-width: 767px) {
  .footer-logo {
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .footer-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-nav-list {
    text-align: center;
  }
}

.footer-nav-item + .footer-nav-item {
  padding-left: 12px;
}

@media screen and (max-width: 767px) {
  .footer-nav-item + .footer-nav-item {
    padding-left: 0;
  }
}

.footer-nav-item-link {
  font-size: 12px;
  color: #333333;
  display: block;
  padding: .665em 0;
}

.footer-sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 15px 0;
  margin-bottom: 5px;
}

.footer-sns-item + .footer-sns-item {
  margin-left: 20px;
}

.footer-sns-item-link {
  display: block;
  padding: 0.2em 0.5em;
  font-size: 22px;
  color: #3ea1d1;
}

.footer-copyright {
  color: #888888;
  font-size: 12px;
  text-align: center;
}
