// color ベース色
$primary-color: #3EA1D1;
$font-color:#333333;

// color ロゴ
// color 背景
// color テキスト色
// color 透過度
// color マーカー
// color アイコン
// size 


// common - 全体に共通するスタイル
@include mq(sp){
  .is-pc{
    display: none;
  }
}

@include mq(pc){
  .is-sp{
    display: none;
  }
}
